

.phrase-cookie{
  display: flex;
  margin: auto;
  width: 1000px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  border: 10px solid white ;
  border-radius: 50px
  
  
  
  
}
.cont{
  justify-content: center;
  display: inline-flex;
  align-items: center;
  
 
}
@media (max-width:800px){
  .background-image{ max-width: 100px;
    
    
    ;
}
  
}




