*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




h1 {
  border-radius: 20px;
  background-color: #ffffff7e;
  font-size: 3.2em;
  line-height: 1.1;
  color: #743a04;
  align-self: center;
  align-content: center;
}

button {
  border-radius: 50%;
  border: 1px solid transparent;
  margin-left: 10px;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #811a1aaf;
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  width: 100px;
  height: 100px;
  justify-content: center;
}

.App{
  max-width: 100%;;
  min-height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: initial;
  
  
}




